@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-family:
		'Pretendard Variable',
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		'Helvetica Neue',
		'Segoe UI',
		'Apple SD Gothic Neo',
		'Noto Sans KR',
		'Malgun Gothic',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		sans-serif;
}

.no-decoration,
.no-decoration:link,
.no-decoration:visited {
	text-decoration: none;
}

:root {
	--background-color: white;
	--text-color: black;
	--text-color-selected: white;
	--box-color-selected: white;
	--box-color: #efefef;
	--box-color-selected: black;
	--link-color: #717171;

	@media (prefers-color-scheme: dark) {
		--background-color: rgb(13, 13, 13);
		--text-color: white;
		--text-color-selected: black;
		--box-color: #2f2f2f;
		--box-color-selected: #ffffff;
		--link-color: #d0d0d0;
	}

	background-color: var(--background-color);
	color: var(--text-color);
}

a {
	color: var(--link-color);
}
